.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/Images/ai-generated-8239337_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
}


#tagline {
    width: 50%;
    font-size: 6rem;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 150px;
    letter-spacing: 0.5rem;
}

#tagline2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    color: black;
    text-align: center;
    padding: 150px 0px 150px 0px;
    line-height: 5rem;
}

.topic {
    display: flex;
    align-items: center;
    text-align: center;
}


.line {
    flex: 1;
    border: 0;
    border-top: 1px solid black;
    margin: 0 10px;
}

.topic span {
    padding: 0 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#signup {
    width: 420px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 100px;
    padding: 10px 20px;
    border-color: rgb(245, 245, 245);
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    margin-top: 50px;
}

#signup:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
}

#signup>a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.container {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 540px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.card img {
    position: relative;
    width: calc(100vw / 4);
    height: auto;
    object-fit: cover;
    border-radius: 18px;
    z-index: 1;
}

.card h2 {
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 50px;
    display: flex;
    color: #fbfff8;
    position: absolute;
    top: 0px;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    z-index: 2;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    border-radius: 25px;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

.middle-header {
    width: 100%;
    height: 130px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 35px;
}

.fa-solid{
    height: 30px;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icons a:hover{
    color: white;
    transform: scale(1.2);
    transition: transform 1s ease-out;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.icons a{
    text-decoration: none;
    color: white;
    height: auto;
}